html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
}

.container {
  display: flex;
  background-color: #f7fdfc;
  justify-content: space-evenly;
}

#header {
  width: 500px;
  margin: 0px auto;
  display: flex;
  box-sizing: border-box;
  height: 90vh;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.header-box {
  width: 400px;
  margin: 0 auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-h1 {
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
}

.header-p {
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
}

#main {
  width: 780px;
  margin: 0px auto;
  display: flex;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 90vh;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.main-box {
  width: 680px;
  margin: 0 auto;
  height: 80vh;
}

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 35vh;
}

.blockA {
  display: flex;
  height: 10vh;
}

.FirstName {
  width: 50%;
}

#first-name {
  outline-color: #2ec4b6;
  height: 6vh;
  width: 310px;
  padding-left: 9px;
}

.LastName {
  width: 50%;
}

#last-name {
  outline-color: #2ec4b6;
  height: 6vh;
  width: 310px;
  padding-left: 9px;
}

.blockB {
  display: flex;
  height: 10vh;
}

.Gender {
  width: 50%;
}

#gender {
  outline-color: #2ec4b6;
  height: 6vh;
  width: 310px;
  padding-left: 9px;
}

.Birthday {
  width: 50%;
}

#birthday {
  outline-color: #2ec4b6;
  height: 6vh;
  width: 310px;
  padding-left: 9px;
}

.blockC {
  display: flex;
  height: 10vh;
}

.Weight {
  width: 50%;
}

#weight {
  outline-color: #2ec4b6;
  height: 6vh;
  width: 310px;
  padding-left: 9px;
}

.Height {
  width: 50%;
}

#height {
  outline-color: #2ec4b6;
  height: 6vh;
  width: 310px;
  padding-left: 9px;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 45vh;
}

.boxA {
  display: flex;
  height: 10vh;
}

.Activity-level {
  width: 100%;
}

#activity-level {
  outline-color: #2ec4b6;
  height: 6vh;
  width: 660px;
}

.boxB {
  display: flex;
  height: 10vh;
}

.Password {
  width: 100%;
}

#password {
  outline-color: #2ec4b6;
  height: 6vh;
  width: 660px;
}

.boxC {
  display: flex;
  height: 10vh;
}

.Button {
  width: 100%;
}

.btn {
  background-color: #2ec4b6;
  height: 6vh;
  width: 670px;
  padding: 9px;
}

.info {
  color: #2ec4b6;
  text-decoration: underline;
}

.boxD {
  display: flex;
  height: 6vh;
}

.Paragraph {
  width: 100%;
}

#paragraph {
  text-align: center;
  letter-spacing: 0.9px;
}

@media (max-width: 480px) {
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    background-color: #f7fdfc;
    width: 100%;
    height: 245vh;
  }

  #header {
    width: 310px;
    margin: 0px auto;
    box-sizing: border-box;
    height: 80vh;
  }

  .header-box {
    width: 300px;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
}

  #main {
    width: 310px;
    margin: 0px auto;
    display: flex;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 140vh;
  }

  .main-box {
    width: 300px;
    margin: 0 auto;
    height: 90vh;
  }

  .first-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
  }

  .blockA {
    display: flex;
    width: 280px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
  }

  .FirstName {
    width: 270px;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
  }

  #first-name {
    margin: 0 auto;
    height: 6vh;
    width: 260px;
    padding-left: 9px;
  }

  .LastName {
    width: 270px;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
  }

  #last-name {
    outline-color: #2ec4b6;
    margin: 0 auto;
    height: 6vh;
    width: 260px;
    padding-left: 9px;
  }

  .blockB {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0 auto;
    height: 30vh;
  }

  .Gender {
    width: 270px;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
  }

  #gender {
    width: 260px;
    margin: 0 auto;
    height: 6vh;
    padding-left: 9px;
  }

  .Birthday {
    width: 270px;
    margin: 0 auto;
    height: 15vh;
    width: 100%;
  }

  #birthday {
    width: 260px;
    margin: 0 auto;
    height: 6vh;
    padding-left: 9px;
  }

  .blockC {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 30vh;
  }

  .Weight {
    width: 270px;
    margin: 0 auto;
    height: 15vh;
    width: 100%;
  }

  #weight {
    width: 260px;
    margin: 0 auto;
    height: 6vh;
    padding-left: 9px;
  }

  .Height {
    width: 270px;
    margin: 0 auto;
    height: 15vh;
    width: 100%;
  }

  #height {
    width: 260px;
    margin: 0 auto;
    height: 6vh;
    padding-left: 9px;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
  }

  .boxA {
    position: relative;
    bottom: -5px;
    width: 280px;
    margin: 0 auto;
    display: flex;
    height: 16vh;
  }

  .Activity-level {
    position: absolute;
    width: 270px;
    margin: 0 auto;
    height: 15vh;
    width: 100%;
  }

  #activity-level {
    width: 260px;
    margin: 0 auto;
    height: 6vh;
  }

  .boxB {
    position: relative;
    bottom: -30px;
    width: 280px;
    margin: 0 auto;
    display: flex;
    height: 16vh;
  }

  .Password {
    position: absolute;
    width: 270px;
    margin: 0 auto;
    height: 15vh;
    width: 100%;
  }

  #password {
    width: 260px;
    margin: 0 auto;
    height: 6vh;
  }

  .boxC {
    width: 280px;
    margin: 0 auto;
    display: flex;
    height: 16vh;
  }

  .Button {
    position: relative;
    bottom: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin: 0 auto;
    height: 15vh;
    width: 100%;
  }

  .btn {
    position: absolute;
    color: white;
    width: 270px;
    margin: 0 auto;
    background-color: #2ec4b6;
    height: 6vh;
    padding: 9px;
  }

  .info {
    color: #2ec4b6;
    text-decoration: underline;
  }

  .boxD {
    width: 280px;
    margin: 0 auto;
    display: flex;
    height: 20vh;
    position: relative;
    bottom: -130px;
  }

  .Paragraph {
    position: absolute;
    width: 270px;
    margin: 0 auto;
    width: 100%;
    height: 13vh;
  }

  #paragraph {
    width: 260px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.6px;
  }
}
